.background {
  background: url("../assets/background.jpg");
}
.style {
  color: rgb(231, 231, 0);
  letter-spacing: 3px;
}
.title {
  text-align: center;
  font-size: 3.5em;
  margin: auto;
}
.image {
  height: 150px;
  width: 120px;
  margin: 0;
}
.infodiv {
  color: rgb(231, 231, 0);
}
.characters button {
  background-color: black;
  border-style: solid;
  border-width: thick;
  letter-spacing: 3px;
  width: 100%;
  border-radius: 12px;
}
.good button {
  border-color: rgb(101, 157, 240);
}
.evil button {
  border-color: rgb(254, 74, 74);
}
.atk-button {
  padding: 20px;
  color: red;
  border-color: red;
  background-color: black;
  font-size: 2.2em;
  border-radius: 12px;
}
p {
  font-size: 0.9em;
  text-align: center;
  color: rgb(231, 231, 0);
}
.evil div {
  color: rgb(254, 74, 74);
  background-color: black;
  font-size: 1.3em;
  border-style: solid;
  border-color: rgb(254, 74, 74);
  border-radius: 12px;
}
.good div {
  color: rgb(101, 157, 240);
  background-color: black;
  font-size: 1.3em;
  border-style: solid;
  border-color: rgb(101, 157, 240);
  border-radius: 12px;
}
.infodiv p {
  font-size: 1.2em;
}
.player2div img {
  height: 250px;
  width: 250px;
}
.player1div img {
  height: 250px;
  width: 250px;
}
hr {
  margin: 5%;
  color: rgb(231, 231, 0);
  background-color: rgb(231, 231, 0);
}
@font-face {
  font-family: "star_jediregular";
  src: url("../assets/font/starjedi-webfont.woff2") format("woff2"),
    url("../assets/font/starjedi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
