.background {
  background: url("../assets/background.jpg");
}
.style {
  color: rgb(231, 231, 0);
  letter-spacing: 3px;
}
.title {
  font-size: 3.5em;
}
.image {
  height: 150px;
  width: 120px;
  margin: 0;
}
.infodiv {
  color: rgb(231, 231, 0);
}
button {
  background-color: black;
  border-style: solid;
  border-color: brown;
  letter-spacing: 3px;
  width: 100%;
}
#atk-button {
  color: red;
  font-size: 1.5em;
}
p {
  font-size: 0.9em;
  text-align: center;
  color: rgb(231, 231, 0);
  background-color: black;
}
.powerlevel {
  color: red;
  background-color: black;
  font-size: 1.3em;
  border-style: solid;
  border-color: brown;
}
.infodiv p {
  font-size: 1.2em;
}
.player2div img {
  height: 250px;
  width: 250px;
}
.player1div img {
  height: 250px;
  width: 250px;
}
hr {
  margin: 5%;
  color: rgb(231, 231, 0);
  background-color: rgb(231, 231, 0);
}
@font-face {
  font-family: "star_jediregular";
  src: url("../assets/font/starjedi-webfont.woff2") format("woff2"),
    url("../assets/font/starjedi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
